* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(251, 248, 204);
    width: 100%;
}

.top-section {
    display: block;
    width: 85%;
    margin: 0 auto;
    padding: 10px;
}


.head {
    display: flex;
    justify-content: space-between;
}

.info {
    padding-top: 100px;

    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    display: flex;
}

.img img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-left: 350px;
   margin-top: -60px;
  
}

.content {
    width: 85%;
 margin: 0 auto;
}

.about {
    margin-top: 150px;
    color: rgb(3, 4, 94);
}

.dates {
    margin-top: 80px;
    margin-left: 100px;
    color: rgb(3, 4, 94);
}

.work {
    margin-top: 100px;
    color: rgb(3,4,94);
   
}



.pics {
    margin-top: 40px;
    display: flex;
    color: rgb(3, 4, 94);
     
    justify-content: center;
}


.footer {
    width: 85%;
    margin: 0 auto;
    display: flex;
    padding-top: 90px;
}

@media (max-width:768px) {
    
     .top-section {
        font-size: 10px;
    }

    .img {
        margin-left: -300px;
        font-size: 10px;
    }

    .top-links{
     
        padding-right: -90px;

    }
 .down-links{
      margin: 0 auto;
        padding-right: -90px;
 } 
   
}



